<a href="https://colab.research.google.com/github/venkatesh867912/venkatesh867912/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=0
for i in range(5):
    a=i
    print(a)

0
1
2
3
4

In [1]:
A=str(input ("Enter the operator"))
num1=int(input ("Enter the first number"))
num2=int(input ("Enter the second number"))
if (A=="+"):
    R1= num1+num2
    print(R1)
elif (A=="-"):
      R2= num1-num2
      print(R2)
elif (A=="-"):
     R3= num1*num2
     print(R3)
elif (A=="/"):
     R4= num1/num2
     print(R4)

Enter the operator3
Enter the first number4
Enter the second number5

In [2]:
# Print each student name
students = ["Alex", "Taylor", "Jordan"]
for student in students:
    print(student)

# Calculate total marks
marks = [85, 92, 78, 90]
total = 0
for mark in marks:
    total += mark
print("Total:", total)

Alex
Taylor
Jordan
Total: 345

In [5]:
# Countdown timer
count = 5
while count > 0:
    print(count)
    count -= 1
print("count -=1")

5
4
3
2
1
count -=1

In [8]:
# Password checker
password = ""
while password != "venkatesh123":
    password = input("Enter password: ")
print("Access granted!")

Enter password: venkatesh123
Access granted!

In [3]:
# Print each student name
students = ["Alex", "Taylor", "Jordan"]
for student in students:
    print(student)

# Calculate total marks
marks = [85, 92, 78, 90]
total = 0
for mark in marks:
    total += mark
print("Total:", total)

Alex
Taylor
Jordan
Total: 345

In [ ]:
i=0
while i <10:
   if(i%2==0):
      print (i)
   i+=1

0
2
4
6
8